/gradle/
/.gradle/
/.idea/
/configserver/build/
/eureka/build/
/client/build/
/client/gradlew.bat
/client/gradlew
/client/gradle/
/patient/build/
/app/build/
/gradlew
/gradlew.bat
/common/common.iml
/patHistory/build/
/assess/build/
