<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient Form</title>
</head>
<body>

<table>
    <thead>
    <th>Family</th>
    <th>Given</th>
    <th>Date of Birth</th>
    <th>Sex</th>
    <th>Address</th>
    <th>Phone</th>
    </thead>
    <tr>
        <td th:text="${patient.getContent().getFamily()}"></td>
        <td th:text="${patient.getContent().getGiven()}"></td>
        <td th:text="${patient.getContent().getDob()}"></td>
        <td th:text="${patient.getContent().getSex()}"></td>
        <td th:text="${patient.getContent().getAddress()}"></td>
        <td th:text="${patient.getContent().getPhone()}"></td>

    </tr>
</table>

</body>
</html>