<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Liste des patients</h1>


<p th:unless="${#lists.isEmpty(allPatients)}">
    Vous trouverez ci-dessous la liste de vos patients.
    Sélectionnez-en un pour visualiser et modifier ses informations ou créez en un nouveau.
</p>

<p th:if="${#lists.isEmpty(allPatients)}">
    Aucun patient dans la base de données. Cliquez sur Ajouter pour créer un nouveau patient.
</p>

<a th:href="form"> -Ajouter un nouveau patient -</a>
<table>
    <thead>
    <th>Family</th>
    <th>Given</th>
    <th>Date of Birth</th>
    <th>Sex</th>
    <th>Address</th>
    <th>Phone</th>
    <th>EDIT</th>
    </thead>
    <tr th:each="patient : ${allPatients}">
        <td th:text="${patient.item.family}"></td>
        <td th:text="${patient.item.given}"></td>
        <td th:text="${patient.item.dob}"></td>
        <td th:text="${patient.item.sex}"></td>
        <td th:text="${patient.item.address}"></td>
        <td th:text="${patient.item.phone}"></td>
        <td></td>
        <!--        <td><a th:href="patient.links.self" th:text="${patient.item.given} ${patient.item.family}"></a></td>-->

    </tr>
</table>
</body>
</html>